version: '3.8'

services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001" # For RedisStack GUI (optional)
    restart: unless-stopped
  postgres:
    image: postgres:18.1
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nvent
    ports:
      - "5432:5432"
    restart: unless-stopped