/**
 * Nvent App Module Styles
 * Import this in your main CSS file: @import "@nvent-addon/app";
 */

/* Tailwind content scanning for module components */
@source "../components/**/*.vue";
@source "../pages/**/*.vue";
